.cv-main {
    display: flex;
    gap: 32px;
    margin: 0 var(--paper-margin);
}

.cv-main .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
}

.cv-main .right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.section-title {
    display: flex;
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 16px;
    min-height: 46px;
}

.section {
    width: 100%;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-title .content,
.section .content {
    padding: 12px;
    white-space: pre-wrap;
}

.section-title .edit-inputs,
.section .edit-inputs {
    position: absolute;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: var(--white);
}

.section .edit-inputs {
    min-height: 116px;
}

.section-title:hover,
.section:hover {
    background: var(--white);
    border-radius: 4px;
}

.section-title:hover .btns .btn-plus,
.section-title:hover .btns .btn-edit,
.section-title:hover .btns .btn-check,
.section-title:hover .btns .btn-close,
.section:hover .btns .btn-edit,
.section:hover .btns .btn-check,
.section:hover .btns .btn-close {
    opacity: 1;
}

/* SPECIFIC STYLES */

.section-title .title,
.section .title {
    font-size: 1.2rem;
}

.section input[type='text'].input-title {
    font-size: 1.2rem;
    margin-top: 6px;
}

.section-title input[type='text'].input-section-title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 6px;
    padding-top: 6px;
    padding-bottom: 8px;
}

.section .dates,
.section .institution {
    font-size: 0.8rem;
    padding-bottom: 8px;
}

.section input[type='text'].input-dates,
.section input[type='text'].input-institution {
    height: 24px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}
.section input[type='text'].input-institution {
    margin-right: -2px;
    width: 65%;
}

.section input[type='text'].input-dates {
    width: 35%;
}

.section .details {
    min-height: 30px;
    font-size: 0.9rem;
}

.section .input-details {
    height: calc(100% - 80px);
    min-height: 22px;
    font-size: 0.9rem;
    padding-bottom: 0px;
    line-height: 1.2rem;
}
