@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');
@import url('reset.css');
@import url('header.css');
@import url('cv-header.css');
@import url('cv-main.css');
@import url('about.css');

:root {
    /* SYSTEM FONTS */
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --gray-50: #d5d5d566;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;

    /* SIZING */
    --paper-w: 1080px;
    --paper-h: 1528px;
    --paper-margin: 100px;
}

body {
    background: var(--blue);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
    background: red;
}

.app {
    width: var(--paper-w);
    margin: 0 auto;
    padding: 36px 32px 64px 32px;
}

.paper {
    width: var(--paper-w);
    /* height: var(--paper-h); */
    background: var(--gray);
}

.vertical-space {
    height: var(--paper-margin);
}

.single-line {
    display: flex;
    gap: 4px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: var(--green);
    margin-top: 2px;
}

.btns {
    width: 100%;
    position: absolute;
    margin: 0 -4px;
    display: flex;
    gap: 4px;
    align-items: right;
    justify-content: flex-end;
    margin-top: -16px;
    z-index: 30;
}

.btns .btn-edit {
    all: unset;
    cursor: pointer;
    width: 32px;
    aspect-ratio: 1/1;
    outline-offset: -4px;
    outline: 2px solid var(--gray);
    border-radius: 50%;
    background: url('../assets/images/icon-edit.svg') var(--white) no-repeat center center;
    opacity: 0;
}

.btns .btn-check {
    all: unset;
    cursor: pointer;
    width: 32px;
    aspect-ratio: 1/1;
    outline-offset: -4px;
    outline: 2px solid var(--gray);
    border-radius: 50%;
    background: url('../assets/images/icon-check.svg') var(--white) no-repeat center center;
    opacity: 0;
}

.btns .btn-close {
    all: unset;
    cursor: pointer;
    width: 32px;
    aspect-ratio: 1/1;
    outline-offset: -4px;
    outline: 2px solid var(--gray);
    border-radius: 50%;
    background: url('../assets/images/icon-close.svg') var(--white) no-repeat center center;
    opacity: 0;
}

.btns .btn-plus {
    all: unset;
    cursor: pointer;
    width: 32px;
    aspect-ratio: 1/1;
    outline-offset: -4px;
    outline: 2px solid var(--gray);
    border-radius: 50%;
    background: url('../assets/images/icon-close.svg') var(--white) no-repeat center center;
    transform: rotate(45deg);
    opacity: 0;
}

.btns .btn-plus:hover,
.btns .btn-edit:hover,
.btns .btn-check:hover,
.btns .btn-close:hover {
    background-color: var(--yellow);
    outline: 4px solid var(--white);
}

.edit-inputs {
    z-index: 20;
}

.edit-inputs textarea,
.edit-inputs input[type='text'] {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    border: none;
    box-sizing: border-box;
    resize: none;
}

.edit-inputs input[type='text'] {
    width: calc(100% - 8px);
    margin: 2px 4px;
    padding: 4px 8px;
    background: #ffffffaa;
    border-radius: 2px;
}

.edit-inputs textarea {
    line-height: 1.4rem;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin: 4px;
    padding: 8px;
    background: #ffffffaa;
    border-radius: 2px;
}

.edit-inputs input[type='text']:focus,
.edit-inputs textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1pt var(--yellow);
}

.edit-inputs input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    width: 18px;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 50%;
    border: 1px var(--yellow) solid;
    margin: 0 0 0 14px;
}

.edit-inputs input[type='checkbox']:checked {
    background-color: var(--yellow);
}

.link-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.download {
    cursor: pointer;
}

.download:hover {
    color: var(--yellow);
}

.footer a {
    color: var(--gray);
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 32px;
    width: 160px;
}

.footer h4 {
    margin-left: 8px;
}

.footer h4:hover {
    color: var(--yellow);
    margin-left: 8px;
}

.footer .img {
    background: url('../assets/images/link-github.svg') var(--gray) no-repeat center center;
    width: 24px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.footer .img:hover {
    background-color: var(--yellow);
}
